<!-- Showcase -->
<section
  class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>Welcome <span class="text-warning">{{session.username}}</span> to uor Tech<span class="text-warning">Bole</span></h1>
      </div>
      <img
        class="img-fluid w-50 d-none d-sm-block"
        src="/img/showcase.svg"
        alt=""
      />
    </div>
  </div>
</section>

<section class="m-5">
  <div class="container">
    <h1>Please Login or Signin to enter ur website</h1>
  </div>
</section>

<!-- Postes  -->
{{#each posts as |post| }}
<section class="p-5">
  <div class="container">
    <div class="row text-center g-4">
      <div class="col-md">
        <div class="card mb-4 bg-light">
          <a href="/singlepost/{{post.id}}"><h3 class="card-title p-3 text-start">{{post.title}}</h3></a>
          <p class="text-start px-4">wirtin by <span>{{user.username}}</span></p>
          <p class="card-text text-start px-4">
           {{post.content}}
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/each}}
